.info{
    width: 21.625rem;
    border-radius: .5rem;
    padding: 1rem;
    border: 1px solid #D8D8D8;
    font-size: .85rem;
    margin-bottom: .5rem;
    .nameCellphone{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: .25rem;

    }
}