@media (max-width:481px) {

    .box{
        height: 4.5rem;
        padding: 0 1rem;
        border-radius: 0px 0px .6rem .6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(152deg, #35C9EA 12.07%, #37D7C4 127%);
    }
    
}